<!DOCTYPE html>
<html>
<head>
	<title>first attempt</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<style type="text/css">
		.header{
			background: url(static/image/book5.jpg);
			background-size:cover;
			background-position: cover;
			min-height:500px;
		}
		.nav_setup{
			background: rgba(1,1,1,0.6);
		}
		.brand{
			background: black;
		}
		.brand-text{
			color:white;
		}
		.formular{
			max-width:700px;
			max-height:300px;
			margin:40px auto;
			margin-top:20px;
			padding:40px;

		}
		.section_log{
			margin-top:-200px;
		}
	</style>

</head>
<body class="#e0e0e0 grey lighten-2">
	<header class="header">
		<nav  class="nav-wraper nav_setup">
			<div class="container">
				<a href="/" class=" left brand-logo brand-text">La Bibliotheque</a>
				<ul id="nav-mobile"  class="right hide-on-small-right">
					<li><a href="/" class="btn brand z-depth-0">Home</a></li>
					<li><a href="/logpage" class="btn brand z-depth-0">sing in</a></li>
				</ul>
			</div>
		</nav>
	</header>


	{% block content %}
	{% endblock %}






	



	<footer class="section">
		<div class="center grey-text">
			Done.Finished
		</div>
	</footer>


</body>
</html>