<!DOCTYPE html>
<html>
<head>
	<title>first attempt</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<style type="text/css">
		.brand{
			background: black;
		}
		.brand-text{
			color:white;
		}
		.form{
			max-width:560px;
			margin:20px auto;
			padding:20px;
		}
	</style>

</head>
<body class="#607d8d blue-grey">
	<nav class="#455a64 blue-grey darken-2">
		<div class="container">
			<a href="index.html" class="brand-logo brand-text">Home</a>
			<ul id="nav-mobile"  class="right-hide-on-small-right">
				<li><a href="#" class="btn brand z-depth-0"></a></li>
				<li><a href="#" class="btn brand z-depth-0"></a></li>
				<li><a href="#" class="btn brand z-depth-0"></a></li>
				<li><a href="#" class="btn brand z-depth-0"></a></li>
				<li><a href="#" class="btn brand z-depth-0"></a></li>
			</ul>
		</div>
	</nav>

	{% block content %}
	{% endblock %}




	



	<footer class="section">
		<div class="center grey-text">
			Done.Finished
		</div>
	</footer>


</body>
</html>