<!DOCTYPE html>
<html>
<head>
	<title>first attempt</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<style type="text/css">
		.brand{
			background: black;
		}
		.brand-text{
			color:white;
		}
		.formular{
			max-width:560px;
			margin:20px auto;
			margin-top:20px;
			padding:20px;
		}
	</style>

</head>
<body style="background-color:#726161">
	<nav style="background-color:#534646;">
		<div class="container">
			<a href="/" class=" left brand-logo brand-text">La Bibliotheque</a>
			<ul id="nav-mobile"  class="right hide-on-small-right">
				<li><a href="/" class="btn brand z-depth-0">Home</a></li>
				<li><a href="/logpage" class="btn brand z-depth-0">sing in</a></li>
			</ul>
		</div>
	</nav>

	{% block content %}
	{% endblock %}






	



	<footer class="section">
		<div class="center grey-text">
			Done.Finished
		</div>
	</footer>


</body>
</html>