
{% extends 'layout_second.html' %}


{% block content %}

	<section class="container grey-text section_log">
		<form class="white formular" method="POST">
			<label style="font-size:20px;">Username:</label>
			<input type="text" name="username">
			<label style="font-size:20px;">password:</label>
			<input type="password" name="password">
			<div class="center">
				<input type="submit" name="register" value="Register" class="btn brand z-depth-0" style="font-size:20px;">	
			</div>
		</form>
	</section>

{% endblock %}