{% extends 'layout.html' %}

{% block content %}
	
	<div class="container">
		<div class="row">
			{% for rez in result: %}
				<div class="col s6 ">
					<div class="card transparent_setup">
						<div class="row">
							<div class="col s6">
								<img src="static/image/book6.png" class="image_setup">
							</div>
							<div class="col s6">
								<div class="center" style="margin-top:100px;">
									<p class="p_title">{% print (rez[3]) %}</h5>
									<p class="p_author">{% print ('By:  ' + rez[4]) 	%}</p>
									<p >{% print (rez[5]) 	%}
										{%	print (' pages')
										%}
									</p>
								</div>

							</div>
						</div>
						<div class="card-content">
							<p class="p_review bold">{% print('Review') %}
							<p class="white ">{%	print (rez[6]) 	%}</p>
						</div>
						<div class="row ">
							<div class="col ">
								{% if admin_page ==0: %}
								<form style="padding:0px; margin:0px;" class="formular" method="POST">
										<input type="hidden" name="id_to_move" value="{% print(rez[0]) %}">
										<input type="submit" name="add_to_mybooks", value="add to mybooks" class="btn brand z-depth-0" >
								</form>
								{% else %}
								<form style="padding:0px; margin:0px;" class="formular" method="POST">
										<input type="hidden" name="id_to_delete" value="{% print(rez[0]) %}">
										<input type="submit" name="delete_book", value="delete book" class="btn brand z-depth-0" >
								</form>
								{% endif %}
							</div>
							<div class="col s3 right ">
								{% print('Added by ' + rez[8]) %}	
							</div>
						</div>				
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}